<div class="NavMenu">
  <div class="NavMenu-btnContainer">
    <button (click)="scene = 0">Rotating cubes with controls</button>
    <button (click)="scene = 1">Physics - Gravity</button>
    <button (click)="scene = 2">Physics - Balls</button>
    <button (click)="scene = 3">Shader - Static flag</button>
    <button (click)="scene = 4">Shader - Waving flag</button>
  </div>
</div>
<ngt-canvas [ngSwitch]="scene" initialLog
            shadows [dpr]="[1, 2]" [gl]="{ alpha: false }" [camera]="{ position: [0, 0, 20], fov: 35, near: 1, far: 40 }">
  <app-scene-one *ngSwitchCase="0"></app-scene-one>
  <app-scene-two *ngSwitchCase="1"></app-scene-two>
  <app-scene-three *ngSwitchCase="2"></app-scene-three>
  <app-scene-four *ngSwitchCase="3"></app-scene-four>
  <app-scene-five *ngSwitchCase="4"></app-scene-five>
  <div *ngSwitchDefault></div>
</ngt-canvas>
