<div class="NavMenu">
  <div class="NavMenu-btnContainer">
    <button (click)="scene = 0">Rotating cubes with controls</button>
    <button (click)="scene = 1">Physics - Gravity</button>
    <button (click)="scene = 2">Physics - Balls</button>
    <button (click)="scene = 3">Shader</button>
    <button (click)="scene = 4">Scene One</button>
  </div>
</div>
<ngt-canvas [ngSwitch]="scene" initialLog
            shadows [dpr]="[1, 2]" [gl]="{ alpha: false }" [camera]="{ position: [-1, 5, 5], fov: 45 }">
  <app-scene-one *ngSwitchCase="0"></app-scene-one>
  <app-scene-two *ngSwitchCase="1"></app-scene-two>
  <app-scene-three *ngSwitchCase="2"></app-scene-three>
  <div *ngSwitchDefault></div>
</ngt-canvas>
